<!-- <router-outlet></router-outlet> -->
<!-- (event binding)'event' is used to listen to 'select' to emit the output, 'select' is 
       the customer event created by us.. $event wil hold the data/value that was emitted and then we can
       handle the event-->
<app-header></app-header>
<main>
  <!-- each user is called separately -->
  <!-- <ul id="users">
    <li>
      <app-user
        [id]="users[0].id"
        [avatar]="users[0].avatar"
        [name]="users[0].name"
        (select)="onuserselect($event)"
      ></app-user>
    </li>
    <li>
      <app-user
        [id]="users[1].id"
        [avatar]="users[1].avatar"
        [name]="users[1].name"
        (select)="onuserselect($event)"
      ></app-user>
    </li>
    <li>
      <app-user
        [id]="users[2].id"
        [avatar]="users[2].avatar"
        [name]="users[2].name"
        (select)="onuserselect($event)"
      ></app-user>
    </li>
  </ul> -->
  <!-- <h2><b>TASKS OF THE USER</b></h2> -->
  <!-- using property binding  -->

  <!-- when the input is passed inside user group instead separately -->
  <!-- each user is called separately in different way -->
  <!-- <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="onuserselect($event)"></app-user>
    </li>
    <br>
    <li>
      <app-user [user]="users[1]" (select)="onuserselect($event)"></app-user>
    </li>
    <br>
    <li>
      <app-user [user]="users[2]" (select)="onuserselect($event)"></app-user>
    </li>
    <br>
  </ul> -->

  <!-- calling the user dynamically when there are n number of users in the list
  the "elements" word below can be of name of our choice. but the "users" shd be the data to be called
     which contains the users data like id, name, image .track is used to check the unique in each user to check 
     the below syntax is used in angular 17 -->
  <!-- <ul id="users">
    @for (user of user; track user.id) {
    <li>
      <app-user [user]="users[2]" (select)="onuserselect($event)"></app-user>
    </li>
    <br />
    }
  </ul> -->
  <!-- <app-tasks [id]="onselectuser?.id" [name]="onselectuser?.name"></app-tasks> -->
  <!-- if condition to check if user is clicked and the syntax used in angualar 17. its a angular feature not ts -->
  <!-- @if(onselectuser){
    <app-tasks [id]="onselectuser.id" [name]="onselectuser.name"></app-tasks>
   } -->

  <!-- ngfor and Ngif structural directive used to put condition. "showrror" keyword name below is our choice-->
  <ul id="user">
    <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onuserselect($event)"> </app-user>
    </li>
  </ul>
  <app-tasks
    *ngIf="onselectuser; else showerror"
    [name]="onselectuser!.name"
    [id]="onselectuser!.id"
  ></app-tasks>
  <ng-template #showerror>
    <h1 id="showerror"><b>Select a user!!!</b></h1>
  </ng-template>
</main>
