<!-- <router-outlet></router-outlet> -->
<!-- (event binding)'event' is used to listen to 'select' to emit the output, 'select' is 
       the customer event created by us.. $event wil hold the data/value that was emitted and then we can
       handle the event-->
<app-header></app-header>
<main>
  <!-- <ul id="users">
    <li>
      <app-user
        [id]="users[0].id"
        [avatar]="users[0].avatar"
        [name]="users[0].name"
        (select)="onuserselect($event)"
      ></app-user>
    </li>
    <li>
      <app-user
        [id]="users[1].id"
        [avatar]="users[1].avatar"
        [name]="users[1].name"
        (select)="onuserselect($event)"
      ></app-user>
    </li>
    <li>
      <app-user
        [id]="users[2].id"
        [avatar]="users[2].avatar"
        [name]="users[2].name"
        (select)="onuserselect($event)"
      ></app-user>
    </li>
  </ul> -->
  <!-- <h2><b>TASKS OF THE USER</b></h2> -->
  <!-- using property binding  -->

  <!-- when the input is passed inside user group instead separately -->

  <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="onuserselect($event)"></app-user>
    </li>
    <br>
    <li>
      <app-user [user]="users[1]" (select)="onuserselect($event)"></app-user>
    </li>
    <br>
    <li>
      <app-user [user]="users[2]" (select)="onuserselect($event)"></app-user>
    </li>
    <br>
  </ul>
  <app-tasks [id]="onselectuser?.id" [name]="onselectuser?.name"></app-tasks>
</main>